<h1>firstmodel Page</h1>
<hr>
<ul class="list-group well">
  <% @firstmodels.each do |firstmodel| %>
    <li class="list-group-item"><strong><%= firstmodel.name %></strong> <%= link_to "firstmodel Page", firstmodel_path(firstmodel), :class => "btn btn-info btn-sm pull-right" %></li>
  <% end %>
</ul>
<hr>



<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#1673cb"}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"hue":"#0066ff"},{"weight":1.9}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"saturation":86},{"hue":"#0077ff"},{"weight":0.8}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#c7e2ff"}]},{"featureType":"landscape.natural","elementType":"all","stylers":[{"color":"#bcddff"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#4797e0"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"hue":"#0077ff"},{"saturation":-7},{"lightness":24}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#209ee1"},{"lightness":49}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#fbd597"},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#3ea3ff"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"saturation":58},{"hue":"#006eff"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"color":"#ebf4ff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#ebf4ff"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#93c8ff"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"color":"#83befc"}]},{"featureType":"transit.station.airport","elementType":"geometry","stylers":[{"saturation":100},{"gamma":0.82},{"hue":"#0088ff"}]}]}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>



<% if @yelp_results %>
<h3>Results:</h3>
<ol>
  <% @yelp_results.each do |yelp_result| %>
    <li>
      <h3><%= yelp_result.name %></h3>
      <h4><%= yelp_result.location.coordinate.latitude %>, <%= yelp_result.location.coordinate.longitude %></h4>
    </li>
  <% end %>
</ol>
<% end %>
<hr>
<%= link_to "Add a firstmodel", new_firstmodel_path, :class => "btn-lg"%>
