<h1><%= @firstmodel.name %> Page</h1>

<% if 1 == 0 %>
<ul class="list-group well">
  <% @firstmodel.secondmodels.each do |secondmodel| %>
  <li class="list-group-item"><strong><%= secondmodel.name %></strong> <%= link_to "View secondmodel", firstmodel_secondmodel_path(@firstmodel, secondmodel), :class => "btn btn-info btn-sm pull-right"%></li>
  <% end %>
</ul>
<% end %>

<div class="btn-group">
  <%= link_to "Edit", edit_firstmodel_path(@firstmodel), :class => "btn btn-primary" %>
  <%= link_to "Delete", firstmodel_path(@firstmodel), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <% if 1 == 0 %>
  <%= link_to "Add a secondmodel", new_firstmodel_secondmodel_path(@firstmodel), :class => "btn btn-primary" %>
  <% end %>
</div>


<hr>

<%= link_to "Back to Homepage", firstmodels_path %>
